data:
  fluent-bit.conf: |
    [OUTPUT]
        Name            es
        Match           kube.*
        Index           fluent-bit-kube
        Host            http://elasticsearch-master
        Port            9200
        HTTP_User       elastic
        HTTP_Passwd     7FHWjjPxSqCdOfiE
        Logstash_Format Off
        Time_Key       @timestamp
        Type            flb_type
        Replace_Dots    On
        Retry_Limit     False
        Trace_Error     Off